<div class="lom-footer">
  <div class="lom-footer-col brand">
    <div class="bmark">
      <div class="logo-circle"></div>
      <div>
        <div class="bmark-name">LOM Knowledge Base</div>
        <div class="bmark-ver">v1.4 · Apr 2026</div>
      </div>
    </div>
    <div class="bmark-desc">
      Documentation for a small catalog of field-recording instruments.
      Companion to the store at lom.audio.
    </div>
  </div>
  <div class="lom-footer-col">
    <h4>Products</h4>
    <a href="/microphones/">Microphones</a>
    <a href="/em-receivers/">Electromagnetic</a>
    <a href="/vibration-sensors/">Vibration</a>
    <a href="/compare/">Compare</a>
  </div>
  <div class="lom-footer-col">
    <h4>Knowledge</h4>
    <a href="/guides/">Build guides</a>
    <a href="/tips/">Tips & tricks</a>
  </div>
  <div class="lom-footer-col">
    <h4>Elsewhere</h4>
    <a href="https://store.lom.audio">Store ↗</a>
    <a href="#">Mailing list</a>
    <a href="#">Contact</a>
  </div>
</div>
